.card-stock{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-image img { 
    max-width: 150px; 
    height: 50%;
    margin-left: 100px;
}

.card-stacked {
    text-align: left;
    margin-left: 100px;
}


.cart-product__action button{
    border-radius: 20px;
    background-color: rgb(153, 146, 146);
    border-color: rgb(153, 146, 146);
    border-style: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-family: Verdana;
    font-size: 10pt;
}


.card-block h5 {
    margin-top: 20px;
    color: rgb(112, 112, 112);
    font-size: 14pt;
}

.card-block p {
    font-size: 10pt;
}

.price {
    display: flex;
    margin-top: 1rem;
}

.price span{
    margin-left: 20px;
    font-size: 12pt;
}

.price h4 { 
    margin-top: 0rem;
    font-size: 12pt;
    margin-left: 20px;
}

.card-action button{
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 10pt;
    margin-left: 100px;
}

.total-compra p{
    font-size: 14pt;
    margin-left: 200px;
}