.modal-custom {
    top:  100px;
    z-index: 999;
    display: block;
    width: 45%;
    background-color: white;
}
.modal-content {
    position: relative;
}
.modal-content::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 5px;
            width: 100%;
    background: linear-gradient(to right, #000000 0%, #4d4d4d 25%, #7a7a7a 25%, #a0a0a0 50%, #000000 0%, #4d4d4d 25%, #7a7a7a 25%, #a0a0a0 50%);
    }


.modal-content { padding: 30px; }

.close-modal {
    position: absolute;
    right: 15px;
    top: 15px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #7a7a7a 25%;
}

.close-modal:hover:focus:active {
    background-color: transparent;
    color: #039be5;
    }

